version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: execution_engine_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: engine_password
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5433:5432"

  redis:
    image: redis:alpine
    container_name: execution_engine_redis
    restart: always
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: execution_engine_api
    restart: always
    environment:
      - PORT=3000
      - DB_USER=postgres
      - DB_PASSWORD=engine_password
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=postgres
      - RUNNER_IMAGE=python-runner:latest
      - EXECUTION_STRATEGY=docker
      # This is the name of the volume defined below
      - DOCKER_TEMP_VOLUME=execution_engine_temp
    ports:
      - "3000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - execution_engine_temp:/app/temp
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: execution_engine_frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - api

  cpp-runner:
    build:
      context: ./docker/cpp-runner
    image: cpp-runner

  python-runner:
    build:
      context: ./docker/python-runner
    image: python-runner

  java-runner:
    build:
      context: ./docker/java-runner
    image: java-runner

  kotlin-runner:
    build:
      context: ./docker/kotlin-runner
    image: kotlin-runner

  go-runner:
    build:
      context: ./docker/go-runner
    image: go-runner

  php-runner:
    build:
      context: ./docker/php-runner
    image: php-runner

  dart-runner:
    build:
      context: ./docker/dart-runner
    image: dart-runner

  c-runner:
    build:
      context: ./docker/c-runner
    image: c-runner

  sql-runner:
    build:
      context: ./docker/sql-runner
    image: sql-runner

volumes:
  execution_engine_temp:
    name: execution_engine_temp
