apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: code-judge
spec:
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: code-judge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: execution-engine-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
